*{
    color: midnightblue;
}

body{
    background-image: url(img/backgroundcart.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cart-title{
    font-weight:600;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Oleo Script', cursive;
    font-size: 50px;
    margin-top: 1.5rem;
    padding-top: 10px;
    text-decoration: underline;
}

.bxs-minus-circle {
    background-color: black;
    color: rgb(255, 0, 0);
    border-radius: 50px;
    font-size: 20px;
}

.bxs-plus-circle {
    background-color: black;
    color: green;
    border-radius: 50px;
    font-size: 20px;
}

.cart-remove{
    font-size: 24px;
    color: #f87aff;
    cursor: pointer;
}

.total-price{
    display: flex;
    justify-content: center;
    margin: 1.5rem 4em;
    padding-top: 35px;
    border-top: 5px solid #000;
    font-size: 25px;
    font-weight: 600;
}

.insert{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    background: #ff5d06;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
}

.insert:hover{
    background: #000;
}

.checkout,
.removeAll {
    justify-content: center;
    background: #ff5d06;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin: 50px 20px 0;
}

.checkout:hover,
.removeAll:hover{
    background: #000;
}

.cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

#cart-container table td{
    border: 1px solid #0800ff;
    text-align: center;
}

#cart-container table td:nth-child(1){
    width: 100px;
}

#cart-container table td:nth-child(2){
    width: 180px;
}
#cart-container table td:nth-child(3){
    width: 520px;
}

#cart-container table td:nth-child(4){
    width: 200px;
}

#cart-container table td:nth-child(5){
    width: 250px;
}

#cart-container table tbody img{
    width: 100px;
    height: 90px;
    object-fit: scale-down;
}

.cart-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    padding: 50px 108px;
    justify-content: center;
}
